.App {
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 209, 209);
}
#open {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 500px;
  background-color:white;
  border-radius: 25px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
#openinside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
}
#openinputs {
  border-radius: 20px;
}
